.message {
  max-width: 90%;
  margin: 20px auto;
  background-image: linear-gradient(to right, rgb(94, 211, 226) , rgb(247, 132, 237));
  color: #333;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 0.9rem;
  word-break: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}
